## Fuel type definition based on EIA 923 Fuel Receipts and Costs data 

In this notebook, we'll develop a function to classify the fuel type of a given plant based on the aggregate heat content of the fuel delivered to that plant during a given year. The function will take the following arguments:

* PUDL plant ID (Int)
* Year (Int)
* Threshold needed to assign a classification (Float)

Let's talk through some of the psuedocode needed to make this function a reality:
1. Pull in the necessary fuel receipts and costs information from the database using SQLAlchemy
2. Group by plant and year
3. For these groups, sum over fuel heat content delivered for a
* total sum
* sum by three major fuel types - oil, gas, coal
4. We'll compute the percentage of the fuel content delivered over the total sum of heat content delivered for the the three major fuel types
5. If the percentage crosses the threshold, assign it the applicable fuel type string.

Returns: 

The PUDL ID, year, the fuel type.

In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..','..')))
from pudl import pudl, ferc1, eia923, settings, constants
from pudl import models, models_ferc1, models_eia923
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy as sa
from sqlalchemy import and_, tuple_
%matplotlib inline

In [2]:
pudl_engine = pudl.db_connect_pudl()

In [55]:
Session = sa.orm.sessionmaker()
Session.configure(bind = pudl_engine)
session = Session()

frc_table = models.PUDLBase.metadata.tables['fuel_receipts_costs_eia923']
plants_eia923_tbl = models.PUDLBase.metadata.tables['plants_eia923']

frc_select = sa.sql.select([frc_table.c.plant_id,
                            plants_eia923_tbl.c.plant_name,
                            plants_eia923_tbl.c.plant_id_pudl,
                            frc_table.c.fuel_group,
                            frc_table.c.fuel_quantity,
                            frc_table.c.average_heat_content,
                            frc_table.c.report_date,
                            frc_table.c.fuel_cost]).\
                            where(frc_table.c.plant_id == plants_eia923_tbl.c.plant_id)
    
frc_df = pd.read_sql(frc_select, pudl_engine)
frc_df

,plant_id,plant_name,plant_id_pudl,fuel_group,fuel_quantity,average_heat_content,report_date,fuel_cost
0,3,Barry,32,Coal,120393.0,24.000,2009-01-01,631.1
1,3,Barry,32,Coal,199388.0,23.000,2009-01-01,350.3
2,3,Barry,32,Coal,43105.0,22.785,2009-01-01,355.7
3,3,Barry,32,Coal,9458.0,23.790,2009-01-01,498.0
4,3,Barry,32,Coal,9094.0,24.000,2009-01-01,629.0
5,3,Barry,32,Natural Gas,1902799.0,1.036,2009-01-01,680.9
6,3,Barry,32,Natural Gas,28469.0,1.045,2009-01-01,568.0
7,7,Gadsden,203,Coal,21205.0,24.908,2009-01-01,397.6
8,7,Gadsden,203,Natural Gas,3189.0,1.014,2009-01-01,638.1
9,7,Gadsden,203,Natural Gas,11.0,1.009,2009-01-01,612.1
10,7,Gadsden,203,Natural Gas,3742.0,1.014,2009-01-01,617.2
11,7,Gadsden,203,Natural Gas,5600.0,1.020,2009-01-01,521.5
12,7,Gadsden,203,Natural Gas,890.0,1.023,2009-01-01,599.8
13,7,Gadsden,203,Natural Gas,2.0,1.013,2009-01-01,679.2
14,7,Gadsden,203,Natural Gas,506.0,1.023,2009-01-01,671.0
15,7,Gadsden,203,Natural Gas,2453.0,1.008,2009-01-01,503.7
16,7,Gadsden,203,Natural Gas,526.0,1.006,2009-01-01,472.1
17,7,Gadsden,203,Natural Gas,666.0,1.003,2009-01-01,448.1
18,7,Gadsden,203,Natural Gas,233.0,1.024,2009-01-01,698.8
19,7,Gadsden,203,Natural Gas,646.0,1.022,2009-01-01,635.0
20,8,Gorgas,226,Coal,6118.0,23.110,2009-01-01,345.9
21,8,Gorgas,226,Coal,3294.0,23.000,2009-01-01,630.6
22,8,Gorgas,226,Coal,2464.0,24.048,2009-01-01,346.0
23,8,Gorgas,226,Coal,9633.0,23.557,2009-01-01,349.8
24,8,Gorgas,226,Coal,43719.0,23.622,2009-01-01,253.0
25,8,Gorgas,226,Coal,28308.0,23.738,2009-01-01,345.2
26,8,Gorgas,226,Coal,1512.0,23.600,2009-01-01,348.8
27,8,Gorgas,226,Coal,22746.0,23.310,2009-01-01,344.7
28,8,Gorgas,226,Coal,4637.0,23.593,2009-01-01,342.6
29,8,Gorgas,226,Coal,5981.0,23.931,2009-01-01,298.2
...,...,...,...,...,...,...,...,...
354629,58005,Panda Sherman Power Station,6206,Natural Gas,1349231.0,1.020,2016-12-01,NaN
354630,58079,Newark Energy Center,6270,Natural Gas,2385439.0,1.026,2016-12-01,NaN
354631,58215,Lee Combined Cycle Plant,236,Natural Gas,2305447.0,1.032,2016-12-01,466.0
354632,58215,Lee Combined Cycle Plant,236,Natural Gas,1935235.0,1.032,2016-12-01,466.0
354633,58260,Brunswick County Power Station,8517,Natural Gas,4720119.0,1.054,2016-12-01,480.4
354634,58266,Port Westward Unit 2,479,Natural Gas,45293.0,1.085,2016-12-01,312.9
354635,58266,Port Westward Unit 2,479,Natural Gas,115.0,1.085,2016-12-01,192.0
354636,58420,Panda Liberty Generation Plant,8464,Natural Gas,3325314.0,1.027,2016-12-01,NaN
354637,58426,Panda Patriot Generation Plant,8423,Natural Gas,3879103.0,1.039,2016-12-01,NaN
354638,58471,Ector County Energy Center,6604,Natural Gas,9542.0,1.048,2016-12-01,NaN
354639,58471,Ector County Energy Center,6604,Natural Gas,4771.0,1.048,2016-12-01,NaN
354640,58471,Ector County Energy Center,6604,Natural Gas,51384.0,1.048,2016-12-01,NaN
354641,58503,Carty Generating Station,8513,Natural Gas,1947173.0,1.036,2016-12-01,236.2
354642,58557,Mesquite Generating Station Block 1,6683,Natural Gas,163982.0,1.051,2016-12-01,600.7
354643,58697,L V Sutton Combined Cycle,327,Natural Gas,208338.0,1.030,2016-12-01,520.8
354644,58697,L V Sutton Combined Cycle,327,Natural Gas,319228.0,1.030,2016-12-01,520.8
354645,58697,L V Sutton Combined Cycle,327,Natural Gas,312138.0,1.030,2016-12-01,520.8
354646,58697,L V Sutton Combined Cycle,327,Natural Gas,308475.0,1.030,2016-12-01,520.8
354647,58697,L V Sutton Combined Cycle,327,Natural Gas,286643.0,1.030,2016-12-01,520.8
354648,58697,L V Sutton Combined Cycle,327,Natural Gas,38025.0,1.030,2016-12-01,520.8
354649,58697,L V Sutton Combined Cycle,327,Natural Gas,214785.0,1.030,2016-12-01,520.8
354650,58697,L V Sutton Combined Cycle,327,Natural Gas,208338.0,1.030,2016-12-01,520.8
354651,58697,L V Sutton Combined Cycle,327,Natural Gas,208338.0,1.030,2016-12-01,520.8
354652,58697,L V Sutton Combined Cycle,327,Natural Gas,177055.0,1.030,2016-12-01,520.8
354653,58697,L V Sutton Combined Cycle,327,Natural Gas,352629.0,1.030,2016-12-01,520.8
354654,58697,L V Sutton Combined Cycle,327,Natural Gas,221780.0,1.030,2016-12-01,520.8
354655,58835,Elk Station,174,Natural Gas,10364.0,1.032,2016-12-01,445.7
354656,59391,Red Gate Power Plant,8491,Natural Gas,54360.0,1.081,2016-12-01,1242.0
354657,59784,Gila River Power Block 3,224,Natural Gas,1156311.0,1.034,2016-12-01,434.0
354658,59926,Alpine Power Plant,8519,Natural Gas,237205.0,1.021,2016-12-01,403.6

In [57]:
frc_df[frc_df.fuel_group == 'Petroleum']

,plant_id,plant_name,plant_id_pudl,fuel_group,fuel_quantity,average_heat_content,report_date,fuel_cost
32,8,Gorgas,226,Petroleum,362.0,5.875,2009-01-01,1182.3
44,26,E C Gaston,175,Petroleum,859.0,5.825,2009-01-01,2095.5
71,50,Widows Creek,1306,Petroleum,1176.0,5.670,2009-01-01,1046.2
72,50,Widows Creek,1306,Petroleum,2547.0,5.670,2009-01-01,1042.2
73,50,Widows Creek,1306,Petroleum,349.0,5.670,2009-01-01,1116.2
84,56,Charles R Lowman,1310,Petroleum,387.0,5.500,2009-01-01,1238.1
85,56,Charles R Lowman,1310,Petroleum,358.0,5.500,2009-01-01,1265.3
89,64,Lemon Creek,320,Petroleum,20726.0,5.712,2009-01-01,1640.4
90,75,Anchorage 1,1320,Petroleum,100.0,5.520,2009-01-01,1854.4
98,99,Frederickson,197,Petroleum,554.0,5.870,2009-01-01,1247.0
126,127,Oklaunion,429,Petroleum,1771.0,5.678,2009-01-01,1118.6
140,130,Cross,2304,Petroleum,6293.0,5.790,2009-01-01,1149.5
145,136,Seminole (FL),1337,Petroleum,6944.0,5.923,2009-01-01,1106.3
159,167,Cecil Lynch,1082,Petroleum,1.0,5.900,2009-01-01,1744.5
162,201,Thomas Fitzhugh,1363,Petroleum,166.0,5.710,2009-01-01,1375.3
164,203,McClellan (AR),1365,Petroleum,9879.0,6.260,2009-01-01,534.2
165,203,McClellan (AR),1365,Petroleum,19777.0,6.260,2009-01-01,534.2
172,246,Humboldt Bay,271,Petroleum,4203.0,6.459,2009-01-01,1241.0
176,273,Potrero Power,8334,Petroleum,2061.0,5.820,2009-01-01,NaN
234,493,George Birdsall,1495,Petroleum,40.0,5.700,2009-01-01,1043.4
235,493,George Birdsall,1495,Petroleum,40.0,5.700,2009-01-01,1091.2
236,493,George Birdsall,1495,Petroleum,161.0,5.660,2009-01-01,1187.2
240,527,Nucla,1516,Petroleum,1830.0,3.850,2009-01-01,1383.9
313,542,Cos Cob,1525,Petroleum,5159.0,5.900,2009-01-01,NaN
314,546,Montville Station,1527,Petroleum,1134.0,5.500,2009-01-01,NaN
315,546,Montville Station,1527,Petroleum,37293.0,6.000,2009-01-01,NaN
316,548,NRG Norwalk Harbor,7745,Petroleum,1977.0,5.800,2009-01-01,NaN
317,548,NRG Norwalk Harbor,7745,Petroleum,36797.0,6.200,2009-01-01,NaN
318,562,Middletown,1537,Petroleum,167.0,6.000,2009-01-01,NaN
326,564,Stanton Energy Center,1539,Petroleum,534.0,5.830,2009-01-01,1251.8
...,...,...,...,...,...,...,...,...
353988,52071,Sandow No 5,3941,Petroleum,1229.0,5.800,2016-12-01,NaN
353992,52151,International Paper Eastover Facility,3974,Petroleum,177.0,5.700,2016-12-01,NaN
353994,52151,International Paper Eastover Facility,3974,Petroleum,5084.0,5.800,2016-12-01,NaN
353995,52151,International Paper Eastover Facility,3974,Petroleum,139.0,6.300,2016-12-01,NaN
354003,54087,International Paper Georgetown Mill,4010,Petroleum,4236.0,6.288,2016-12-01,NaN
354008,54101,Georgia-Pacific Cedar Springs,4017,Petroleum,883.0,5.796,2016-12-01,NaN
354010,54101,Georgia-Pacific Cedar Springs,4017,Petroleum,1656.0,6.297,2016-12-01,NaN
354016,54304,Birchwood Power,4068,Petroleum,180.0,5.880,2016-12-01,NaN
354017,54304,Birchwood Power,4068,Petroleum,180.0,5.880,2016-12-01,NaN
354018,54304,Birchwood Power,4068,Petroleum,179.0,5.880,2016-12-01,NaN
354019,54304,Birchwood Power,4068,Petroleum,179.0,5.880,2016-12-01,NaN
354020,54304,Birchwood Power,4068,Petroleum,179.0,5.880,2016-12-01,NaN
354021,54304,Birchwood Power,4068,Petroleum,179.0,5.880,2016-12-01,NaN
354022,54304,Birchwood Power,4068,Petroleum,178.0,5.880,2016-12-01,NaN
354023,54304,Birchwood Power,4068,Petroleum,178.0,5.880,2016-12-01,NaN
354024,54304,Birchwood Power,4068,Petroleum,178.0,5.880,2016-12-01,NaN
354025,54304,Birchwood Power,4068,Petroleum,178.0,5.880,2016-12-01,NaN
354036,54640,NAEA Lakewood LLC,4193,Petroleum,2719.0,5.800,2016-12-01,NaN
354038,54646,Kalaeloa Cogen Plant,4194,Petroleum,1658.0,5.457,2016-12-01,NaN
354039,54646,Kalaeloa Cogen Plant,4194,Petroleum,156993.0,5.859,2016-12-01,NaN
354067,55040,Mid-Georgia Cogeneration Facility,4375,Petroleum,179.0,5.710,2016-12-01,NaN
354214,55247,Darby Electric Generating Station,1107,Petroleum,5764.0,5.733,2016-12-01,NaN
354258,55347,Armstrong,4542,Petroleum,8842.0,5.751,2016-12-01,NaN
354261,55349,Pleasants Energy LLC,4544,Petroleum,7192.0,5.720,2016-12-01,NaN
354309,55409,Calhoun Energy Center,4571,Petroleum,617.0,5.768,2016-12-01,NaN
354420,55927,Jasper,286,Petroleum,6175.0,5.760,2016-12-01,1296.9
354507,56224,TS Power Plant,4898,Petroleum,550.0,5.880,2016-12-01,NaN
354528,56456,Plum Point Energy Station,454,Petroleum,1597.0,5.800,2016-12-01,NaN
354576,56808,Virginia City Hybrid Energy Center,603,Petroleum,2446.0,5.880,2016-12-01,1218.6
354581,56964,Bayonne Energy Center,5409,Petroleum,665.0,6.000,2016-12-01,NaN

In [109]:
def fuel_type_assigner(pudl_id, year, threshold):
    
    Session = sa.orm.sessionmaker()
    Session.configure(bind = pudl_engine)
    session = Session()
    
    frc_table = models.PUDLBase.metadata.tables['fuel_receipts_costs_eia923']
    plants_eia923_tbl = models.PUDLBase.metadata.tables['plants_eia923']
    
    frc_select = sa.sql.select([frc_table.c.plant_id,
                            plants_eia923_tbl.c.plant_name,
                            plants_eia923_tbl.c.plant_id_pudl,
                            frc_table.c.report_date,
                            frc_table.c.fuel_group,
                            frc_table.c.fuel_quantity,
                            frc_table.c.average_heat_content,
                            frc_table.c.fuel_cost]).\
                            where(frc_table.c.plant_id == plants_eia923_tbl.c.plant_id)
    
    f1_fuel_table = models.PUDLBase.metadata.tables['fuel_ferc1']
    plants_ferc1_tbl = models.PUDLBase.metadata.tables['plants_ferc1']
    
    f1_select = sa.sql.select([plants_ferc1_tbl.c.plant_name,
                            plants_ferc1_tbl.c.plant_id_pudl,
                            f1_fuel_table.c.report_year,
                            f1_fuel_table.c.fuel,
                            f1_fuel_table.c.fuel_qty_burned,
                            f1_fuel_table.c.fuel_avg_mmbtu_per_unit,
                            f1_fuel_table.c.fuel_cost_per_unit_burned]).\
                            where(f1_fuel_table.c.respondent_id == plants_ferc1_tbl.c.respondent_id).\
                            where(f1_fuel_table.c.plant_name == plants_ferc1_tbl.c.plant_name)
    
    frc_df = pd.read_sql(frc_select, pudl_engine)
    
    frc_df['report_date'] = pd.to_datetime(frc_df['report_date'])
    frc_df['mmbtu_delivered'] = frc_df['fuel_quantity'] * frc_df['average_heat_content']
    frc_df['year'] = frc_df['report_date'].dt.year
    
    eia_selected_plant = frc_df[(frc_df.plant_id_pudl == pudl_id) & (frc_df.year == year)]
    
    eia_total_mmbtu_delivered = eia_selected_plant['mmbtu_delivered'].sum()
    
    eia_fuel_group = eia_selected_plant.groupby('fuel_group')
    eia_fuel_sums = eia_fuel_group.aggregate(np.sum)['mmbtu_delivered']
    
    if any(eia_selected_plant.fuel_group == 'Coal'):
        eia_coal_percentage = eia_fuel_sums['Coal'] / eia_total_mmbtu_delivered * 100
    else:
        eia_coal_percentage = 0
    if any(eia_selected_plant.fuel_group == 'Natural Gas'):
        eia_gas_percentage = eia_fuel_sums['Natural Gas'] / eia_total_mmbtu_delivered * 100
    else:
        eia_gas_percentage = 0
    if any(eia_selected_plant.fuel_group == 'Petroleum'):
        eia_oil_percentage = eia_fuel_sums['Petroleum'] / eia_total_mmbtu_delivered * 100
    else:
        eia_oil_percentage = 0
    
    f1_df = pd.read_sql(f1_select, pudl_engine)
    
    ferc_selected_plant = f1_df[(f1_df.plant_id_pudl == pudl_id) & (f1_df.report_year == year)]
    
    ferc_selected_plant['mmbtu_burned'] = ferc_selected_plant['fuel_qty_burned'] * ferc_selected_plant['fuel_avg_mmbtu_per_unit']
    
    ferc_total_mmbtu_burned = ferc_selected_plant['mmbtu_burned'].sum()  
    ferc_fuel_group = ferc_selected_plant.groupby('fuel')
    ferc_fuel_sums = ferc_fuel_group.aggregate(np.sum)['mmbtu_burned']
    
    if any(ferc_selected_plant.fuel == 'coal'):
        ferc_coal_percentage = ferc_fuel_sums['coal'] / ferc_total_mmbtu_burned * 100
    else:
        ferc_coal_percentage = 0
    if any(ferc_selected_plant.fuel == 'gas'):
        ferc_gas_percentage = ferc_fuel_sums['gas'] / ferc_total_mmbtu_burned * 100
    else:
        ferc_gas_percentage = 0
    if any(ferc_selected_plant.fuel == 'oil'):
        ferc_oil_percentage = ferc_fuel_sums['oil'] / ferc_total_mmbtu_burned * 100
    else:
        ferc_oil_percentage = 0
    
    if eia_coal_percentage > threshold and ferc_coal_percentage > threshold:
        plant_type = 'coal'
    
    elif eia_gas_percentage > threshold and ferc_gas_percentage > threshold:
        plant_type = 'gas'
        
    elif eia_oil_percentage > threshold and ferc_oil_percentage > threshold:
        plant_type = 'oil'
    
    else:
        plant_type = 'a mixture of fuels'
    
    return print('EIA923 mmBTUs delivered to %s in %s, %s percent coal, %s percent gas, and %s percent oil.\
FERC: %s percent coal, %s percent gas, %s oil. This plan runs mainly on %s.'\
                 % (eia_selected_plant.plant_name.iloc[0], eia_selected_plant.year.iloc[0], eia_coal_percentage, \
                    eia_gas_percentage, eia_oil_percentage, ferc_coal_percentage, \
                    ferc_gas_percentage, ferc_oil_percentage, plant_type))

In [112]:
fuel_type_assigner(1495,2011, 51)

EIA923 mmBTUs delivered to George Birdsall in 2011, 0 percent coal, 100.0 percent gas, and 0 percent oil.FERC: 0 percent coal, 0 percent gas, 0 oil. This plan runs mainly on a mixture of fuels.

In [56]:
def f1_fuel_type_assigner(pudl_id, year):
    
    Session = sa.orm.sessionmaker()
    Session.configure(bind = pudl_engine)
    session = Session()
    
    f1_fuel_table = models.PUDLBase.metadata.tables['fuel_ferc1']
    plants_ferc1_tbl = models.PUDLBase.metadata.tables['plants_ferc1']
    
    f1_select = sa.sql.select([plants_ferc1_tbl.c.plant_name,
                            plants_ferc1_tbl.c.plant_id_pudl,
                            f1_fuel_table.c.report_year,
                            f1_fuel_table.c.fuel,
                            f1_fuel_table.c.fuel_qty_burned,
                            f1_fuel_table.c.fuel_avg_mmbtu_per_unit,
                            f1_fuel_table.c.fuel_cost_per_unit_burned]).\
                            where(f1_fuel_table.c.respondent_id == plants_ferc1_tbl.c.respondent_id).\
                            where(f1_fuel_table.c.plant_name == plants_ferc1_tbl.c.plant_name)
    
    f1_df = pd.read_sql(f1_select, pudl_engine)
    
    ferc_selected_plant = f1_df[(f1_df.plant_id_pudl == pudl_id) & (f1_df.report_year == year)]
    
    ferc_selected_plant['mmbtu_burned'] = ferc_selected_plant['fuel_qty_burned'] * ferc_selected_plant['fuel_avg_mmbtu_per_unit']
    
    ferc_total_mmbtu_burned = ferc_selected_plant['mmbtu_burned'].sum()  
    ferc_fuel_group = ferc_selected_plant.groupby('fuel')
    ferc_fuel_sums = ferc_fuel_group.aggregate(np.sum)['mmbtu_burned']
    
    if any(ferc_selected_plant.fuel == 'coal'):
        ferc_coal_percentage = ferc_fuel_sums['coal'] / ferc_total_mmbtu_burned * 100
    else:
        ferc_coal_percentage = 0
    if any(ferc_selected_plant.fuel == 'gas'):
        ferc_gas_percentage = ferc_fuel_sums['gas'] / ferc_total_mmbtu_burned * 100
    else:
        ferc_gas_percentage = 0
    if any(ferc_selected_plant.fuel == 'oil'):
        ferc_oil_percentage = ferc_fuel_sums['oil'] / ferc_total_mmbtu_burned * 100
    else:
        ferc_oil_percentage = 0
    
    return print('According to FERC, of the mmBTUs delivered to %s in %s, %s percent  was coal, \
%s percent natural gas, %s percent oil.'\
                 % (ferc_selected_plant.plant_name.iloc[0], ferc_selected_plant.report_year.iloc[0],\
                    ferc_coal_percentage, ferc_gas_percentage, ferc_oil_percentage))

In [57]:
f1_fuel_type_assigner(429, 2011)

According to FERC, of the mmBTUs delivered to Oklaunion in 2011, 99.7504819562 percent  was coal, 0 percent natural gas, 0.2495180438 percent oil.

/Users/Nannerz/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [48]:
total_mmbtu_delivered = barry['mmbtu_delivered'].sum()
total_mmbtu_delivered

102520465.12199998

In [54]:
grouped = barry.groupby(['fuel_group'])
grouped.aggregate(np.sum)['mmbtu_delivered']

fuel_group
Coal           4.714560e+07
Natural Gas    5.537486e+07
Name: mmbtu_delivered, dtype: float64